{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <h4>Line Crossing</h4>
  <p>{{ cam_type }}</p>
</div>
{% endblock %}
{% block jsScripts %}
<script>

</script>
{% endblock %}
