{% extends 'layout.html' %}
  {% block content %}
<div id="camsDisplay">
  <div class="row" style="overflow-y:hidden;">
    {% for d in formdata %}
    <div class="col s12 m6">
      <video id='video{{d}}' width='640' height=270  class="video-js vjs-default-skin" controls>
        <source src="http://localhost:8080/hls/{{d}}/{{today}}/index.m3u8" type="application/x-mpegURL" />
      </video>
    </div>
    {% endfor %}
  </div>
</div>
  {% endblock %}
	{% block varScripts %}
	<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
<script>
	// const dateStr = formatDate(new Date());
	$(document).ready(function(){
		const videoElems = $('video');
		$.each(videoElems, function(i, elem){
			// console.log(elem);
			let elemId = $(this).attr('id')
			console.log(elemId);
			let player = videojs(elemId);
			player.play();
		})
	})	

</script>
    {% endblock %}
