<script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>