<nav class="navbar">
    <span class="open-slide">
        <a href="#" onclick="openSlideMenu()" style="padding-top:10px;">
            <svg width="30" height="30">
                <path d="M0, 5, 30, 5" stroke="#fff"
                stroke-width="5"
                />
                <path d="M0, 14, 30, 14" stroke="#fff"
                stroke-width="5"
                />
                <path d="M0, 23, 30, 23" stroke="#fff"
                stroke-width="5"
                />
            </svg>
        </a>
    </span>
    <ul class="navbar-nav">
        <li><a href="/">CHMS</a></li>
        <li><a href="#">Heat </a></li>
        <li><a href="#">P C</a></li>
        <li><a href="#">Line Crossing</a></li>
    </ul>
  </nav>
  <div id="side-menu" class="side-nav">
    <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
    <ul class="collapsible dark lighten-1">
      <li>
        <div class="collapsible-header">4 Camera View</div>
        <div class="collapsible-body">
            <form action="/camsd4" method="POST" class="row" id="camselect4">
                {% for camdid in camsid %}
                <p class="col s4">
                  <label>
                    <input type="checkbox" name='cam{{camid}}' />
                    <span>{{camid}}</span>
                  </label>
                </p>
                {% endfor %}
            </form>
        </div>
      </li>
      <li>
        <div class="collapsible-header">8 Camera View</div>
        <div class="collapsible-body">
          </div>
      </li>
      <li>
        <div class="collapsible-header">Single Camera View</div>
        <div class="collapsible-body">
          
        </div>
      </li>
    </ul>
  </div>